
/* Form.css */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Adjust max-width to your desired size */
  margin: 0 auto;
  padding: 10px 5px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-field {
  margin-bottom: 20px;
  margin-left: 10px;
}

.form-field textarea {
  width: 100%;
}

.form-field:nth-child(1) {
  margin-left: 0;
}

.form-field label {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .form-container {
    max-width: 80%; /* Adjust max-width for larger screens */
    padding: 20px;
  }
}
